<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
        <strong>buildmypcn</strong> is running MEAN!<br/>
        Open-Source Full-Stack Solution For <a href="http://meanjs.org" target="_blank">MEAN Applications</a>.
			</p>
		</div>
	</div>
	<div class="well">
		<h2>Documentation</h2>
		<p>
      The following are some helpful links for developement in our project:
			<ul>
        <li>
          <a target="_blank" href="http://services.byu.edu/pcn/pcn-wizard-0_4.html">Sampson PCN</a>
        </li>
        <li>
          <a target="_blank" href="https://gist.github.com/tgroshon/522063792f6daa32f668">Sampson Layout Algorithm</a>
        </li>
        <li>
          <a target="_blank" href="http://expressjs.com/">Express</a>
        </li>
        <li>
          <a target="_blank" href="http://www.airpair.com/angularjs?ti=#MxkrVCfYlQfeQLBy.99">Angular Tutorial</a>
        </li>
        <li>
          <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
        </li>
        <li>
          <a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
			</ul>
		</p>
	</div>
</section>
