<section data-ng-controller="DiagramsController">
    <div class="page-header">
        <h1>New Diagram</h1>
    </div>
    <div data-ng-show="groups.length < 1" class="alert alert-danger"> <!-- ng-show instead of ng-hide so we don't get a flash before the groups load -->
        Unfortunately you aren't a member of any groups. <a href="/#!/groups/create">Create a group</a> before trying to create a diagram.
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate role="form" data-ng-scope>
            <tasks></tasks>
            <fieldset>
                <br><br>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Create Diagram</button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
