<div>
    <fieldset>
        <legend>Overall information</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="diagram.metadata.title">Title</label>
            <div class="col-md-10">
                <input type="text" data-ng-model="diagram.metadata.title" id="diagram.metadata.title" class="form-control" placeholder="Title" aria-describedby="titleHelpBlock" required>
                <span id="titleHelpBlock" class="help-block">Choose a nice title for your amazing diagram</span>
            </div>
        </div>
        <div class="form-group" ng-show="groups.length">
            <label class="col-md-2 control-label" for="group">Group</label>
            <div class="col-sm-12 col-md-4">
                <select data-ng-model="selectedGroup" data-ng-options="group.name for group in groups" data-ng-required class="form-control"></select>
                <span id="titleHelpBlock" class="help-block">Everyone in your group will be able to edit this diagram</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="diagram.metadata.description">Description</label>
            <div class="col-md-10">
                <textarea data-ng-model="diagram.metadata.description" id="diagram.metadata.description" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Domains</legend>
        <div data-ng-repeat="domain in diagram.domains" class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ domain.subtitle || "Domain " + ($index + 1) }}&nbsp;&nbsp;
                        <button ng-click="editSubtitle$index=!editSubtitle$index" type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-ok" ng-hide="editSubtitle$index" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-pencil" ng-show="editSubtitle$index" aria-hidden="true"></span>
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="domain-title-{{$index}}">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="domain-title-{{$index}}" name="domain-title-{{$index}}" data-ng-model="domain.title" placeholder="{{ domain.subtitle || 'Domain ' + ($index + 1) }} name" required>
                        </div>
                    </div>
                    <div class="form-group" data-ng-init="editSubtitle$index = true" data-collapse="editSubtitle$index">
                        <label class="col-md-2 control-label" for="domain-subtitle-{{$index}}">Title</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="domain-subtitle-{{$index}}" name="domain-subtitle-{{$index}}" data-ng-model="domain.subtitle" placeholder="Domain {{$index + 1}} title" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Steps</legend>
        <div class="row">
            <div class="col-md-1 col-xs-6">Step</div>
            <div class="col-md-4 col-xs-6">Title</div>
            <div class="col-md-2 col-xs-6">Region</div>
            <div class="col-md-3 col-xs-6">Predecessors</div>
            <div class="col-md-2 col-xs-6">Options</div>
        </div>
        <div class="row step-row" data-ng-repeat="step in diagram.steps">
            <div class="col-md-1 col-xs-6">
                <p class="form-control-static"><span class="badge">{{$index + 1}}</span></p>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="input-group">
                    <div class="input-group-btn" data-dropdown data-is-open="domainDropdownStatus$index.isopen">
                        <button type="button" class="btn btn-default" data-dropdown-toggle>
                            <span>{{ getDomainFromId(step.domain.id) | domainTitle }}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="domain in diagram.domains" ng-click="changeStepDomain(step, domain)"><a style="cursor: pointer">{{ getDomainFromId(domain.id) | domainTitle }}</a></li>
                        </ul>
                    </div>

                    <input type="text" class="form-control" id="step-title-{{$index}}" name="step-title-{{$index}}" data-ng-model="step.title" placeholder="needs pizza" required>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <select data-ng-model="step.domain.region.type" data-ng-change="updateStepRegions()" class="form-control" data-ng-options="region.name as region.displayName for region in regions"></select>
            </div>
            <div class="col-md-3 col-xs-6">
                <!-- Predecessors dropdown -->
                <div data-dropdown data-is-open="predecessorDropdownStatus$index.isopen">
                    <button type="button" class="btn btn-link" data-dropdown-toggle>
                        <ng-pluralize data-count="step.predecessors.length" data-when="{'0':'No predecessors','one':'1 predecessor','other':'{} predecessors'}"></ng-pluralize>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-custom dropdown-menu-scrollable" role="menu" data-ng-click="$event.stopPropagation()">
                        <li>
                            <div class="checkbox"><label class="input-group"><button type="button" class="btn btn-sm btn-default" ng-click="deleteAllPredecessorsForStep(step)">Clear predecessors</button></div>
                        </li>
                        <li>
                            <div class="checkbox" data-ng-repeat="predecessor in allStepsExceptMe(step)"><label><input type="checkbox" data-ng-model="stepPredecessors[step.id][predecessor.id]" data-ng-change="updatePredecessors()"> {{ predecessor.title ? (getDomainFromId(predecessor.domain.id) | domainTitle) + " " + predecessor.title : "New step " }}</label></div>
                        </li>
                    </ul>
                </div>
                 <!-- <select multiple data-ng-model="step.predecessors" id="step-predecessors-{{\$index}}" class="form-control"><option data-ng-repeat="predecessor in diagram.steps" value="predecessor.id">{{predecessor.title}}</option></select> -->
            </div>
            <div class="col-md-2 col-xs-6">
                <!-- Options dropdown -->
                <div data-dropdown data-is-open="stepOptionsDropdownStatus$index.isopen">
                    <button type="button" class="btn btn-warning" data-dropdown-toggle>Options <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-custom" role="menu">
                        <li data-ng-click="$event.stopPropagation();">
                            <div class="row">
                                <div class="col-xs-9">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="step.emphasized"> Emphasized?</label>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-danger" data-ng-click="deleteStep($index)">&#10006</button>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li data-ng-click="$event.stopPropagation();">
                            <div class="btn-group btn-group-xs" role="group">
                                <label class="btn btn-default" data-ng-repeat="valueGenericOption in valueGenericOptions" data-ng-model="step.value_generic" btn-radio="valueGenericOption.name">{{ valueGenericOption.displayName }}</label>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li data-ng-click="$event.stopPropagation();">
                            <div class="btn-group btn-group-xs" role="group">
                                <label class="btn btn-default" data-ng-repeat="valueSpecificOption in valueSpecificOptions" data-ng-model="step.value_specific" btn-radio="valueSpecificOption.name">{{ valueSpecificOption.displayName }}</label>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li data-ng-click="$event.stopPropagation();">
                            Step type:&nbsp;&nbsp;
                            <div class="btn-group">
                                <label class="btn btn-default" data-ng-repeat="stepType in stepTypes" data-ng-model="step.type" data-btn-radio="stepType.name" data-tooltip="{{ stepType.description }}">{{ stepType.displayedName }}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-info" data-ng-click="addStep()">&#10010</button>
    </fieldset>
</div>
