<fieldset>
    <legend>Steps</legend>
    <table data-toggle="table">
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Emphasized?</th>
            <th>Specific value</th>
            <th>Generic value</th>
            <th>Predecessors</th>
            <th>Domain</th>
        </tr>
        <tr data-ng-repeat="step in pcn.steps">
            <td><input type="text" class="form-control" id="step-title-{{$index}}" name="step-title-{{$index}}" data-ng-model="step.title" placeholder="Step {{$index + 1}} title" required></td>
            <td><select data-ng-model="step.type" id="step-type-{{$index}}" data-ng-options="stepType.name as stepType.displayedName for stepType in stepTypes" data-ng-required class="form-control"></select></td>
            <td><input type="checkbox" id="step-emphasized-{{$index}}" name="step-emphasized-{{$index}}" data-ng-model="step.emphasized"> Step {{$index + 1}} emphasized?</td>
            <td><select data-ng-model="step.value_specific" id="step-value-specific-{{$index}}" data-ng-options="valueSpecific for valueSpecific in valueSpecificOptions" data-ng-required class="form-control"></select></td>
            <td><select data-ng-model="step.value_generic" id="step-value-specific-{{$index}}" data-ng-options="valueGeneric for valueGeneric in valueGenericOptions" data-ng-required class="form-control"></select></td>
            <td><select multiple data-ng-model="step.predecessors" id="step-predecessors-{{$index}}" class="form-control">
                <option data-ng-repeat="predecessor in pcn.steps" value="predecessor.id">{{predecessor.title}}</option>
            </select></td>
            <td><select data-ng-model="step.domain" id="step-domain-{{$index}}" data-ng-options="domain as domain.title for domain in pcn.domains" data-ng-required class="form-control"></select></td>
            <td><button type="button" class="btn btn-danger" data-ng-click="pcn.steps.splice($index, 1)">Delete step {{$index + 1}}</button></td>
        </tr>
    </table>
    <button type="button" class="btn btn-info" data-ng-click="addStep()">Add a new step</button>
</fieldset>